{% extends "base.html" %}

{% block body %}
  <body style="font-size:20px;font-family:'仿宋_GB2312'">
  <div>
      本周AAA系统内统计的最高同时宽带在线用户数为<span style="color:#F00" >{{aaa.total}}</span>户，AAA用户容量利用率<span style="color:#F00" >{{aaa.totalPer}}%</span>，环比<span style="color:#F00" >{{aaa.totalStats}}{{aaa.totalRatio}}%</span>;沃校园用户<span style="color:#F00" >{{aaa.wo}}</span>户，Portal容量利用率<span style="color:#F00" >{{aaa.woPer}}%</span>，环比<span style="color:#F00" >{{aaa.woStats}}{{aaa.woRatio}}%</span>。
  </div>
  <div class=flash> 
      <h2> text </h2>
        {% for x in text %}
          <li>{{x}}</li>
        {% endfor %}
  </div>
  </body>
{% endblock %}
