{% extends "base.html" %}
{% block body %}
<h1>up page</h1>
<div>
  <table border='1' class=flash>
  <tr>
      <td>{{day}}---------{{fname}}</td>
  </tr>
  </table>
</div>

<div>
  {% for x in flow %}
      <td>{{x[0]}} {{"%d" %(x[1]/1000)}} {{"%.2f" %(x[2]/x[1]*100)}} {{"%.2f" %(x[3]/x[1]*100)}} {{"%.2f" %(x[4]/x[1]*100)}} {{"%.2f" %(x[5]/x[1]*100)}}</td></br>
  {% endfor %}
</div>

<div>
    本周城域网中继带宽合计{{nowdata[1]}}G，峰值流量{{nowdata[2]}}G，峰值带宽利用率{{nowdata[3]}}%。最大入流量{{nowdata[5]}}Gb/s，环比上升xxx% ；最大出流量{{nowdata[4]}}Gb/s，环比上升xxx%。全区14地市城域网CR路由器至南宁、柳州骨干A1路由器间峰值带宽利用率为分别为{{nowdata[-2]}}%和{{nowdata[-1]}}%。
    骨干A路由器至各城域网核心CR路由器间峰值利用率超过60%的电路有{{num60}}条: {{str60}}。
</div>
{% endblock %}
